# Your LinkedIn profile link
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com

# The email address to send contact emails to
CONTACT_EMAIL=example@example.com

# The maximum number of emails that can be sent within the rate limit window
MAX_EMAILS=3
# The rate limit window duration. Valid units: "ms" | "s" | "m" | "h" | "d";
RATE_LIMIT_WINDOW=24h

###########
# Secrets #
###########
# The API key for the email service provider
RESEND_API_KEY=

# The URL and token for the Redis database
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
###########